/* *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
} */



 header{
    background-image: linear-gradient(rgb(255, 248, 248), rgb(136, 182, 224));
     background-size: cover;
    height: 120vh;
    clip-path: polygon(0 0,100% 0%,100% 90%, 0 90%); 
} 

.container-1{
    position: relative;
 margin-top: -180px;
 padding: 50px;
}